:host{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}


.icons {
  position: absolute;
  right: 1.3rem;
  top: .7rem;
  color: white;
}
