
<div fxFlex>
  <mat-list>
    <mat-list-item *ngFor="let barcode of barcodes">
      <div fxFlex fxLayoutGap=".5rem" fxLayoutAlign="start center" (click)="showCode(barcode)" style="cursor: pointer;">
        <mat-icon>qr_code</mat-icon>
        <span>{{barcode.name}}</span>
      </div>
      <mat-icon [matTooltip]="barcode.found ? 'Nalezeno' : 'Nenalezeno' " class="onOff" [ngClass]="{'green':barcode.found}">circle</mat-icon>
    </mat-list-item>
  </mat-list>
</div>

<div *ngIf="codeShowing" class="cardContainer" [@dialogAnim]="'in'">
  <div class="hider" (click)="codeShowing=null"></div>
  <mat-card fxLayout="column">
    <mat-card-title fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign="start center">
      <mat-icon>qr_code</mat-icon>
      <span>{{codeShowing.name}}</span>
      </mat-card-title>
    <mat-card-content fxFlex>
      <qrcode [qrdata]="codeShowingJSOn"
              [errorCorrectionLevel]="'M'" [width]="450" ></qrcode>
<!--      <qrcode [qrdata]="codeShowingJSOn" [width]="10"-->
<!--              [errorCorrectionLevel]="'M'" [scale]="2"></qrcode>-->
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-stroked-button (click)="codeShowing=null" color="primary">
        <mat-icon>close</mat-icon>
        Zavřít
      </button>
    </mat-card-actions>
  </mat-card>
</div>

