:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.active {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid white;
  }
}
